.body {
    margin: 0;
}
* {
    transition: all .3s;
}
.wrapper {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 0;
}
.header {
    width: 1280px;
    height: 120px;
    background: #FFFFFF;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.menu {
    width: 443px;
    height: 27px;
    display: flex;
    margin: 43px 0 0 0;
}
.logo {
    display: flex;
    flex-direction: column;
    width: 184px;
    height: 60px;
}
.logo_title {
    position: flex;
    width: 184px;
    height: 35px;
    /* logo_title */
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    display: flex;
    align-items: center;
    letter-spacing: 0.037em;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 10px;
}
.logo_subtitle {
    margin: auto;
    width: 179px;
    height: 15px;
/* logo_subtitle */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
/* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.095em;
    color: #292929;
}
.list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}
.list_item {
    display: flex;
    align-items: center;
}
.list_link {
    color: #545454;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
}
.list_link_disabled {
    text-decoration: none;

}
.list_link:hover {
    border-bottom: solid 3px #F1CDB3;
    color: #292929;

}
.list_link_active {
    border-bottom: solid 3px #F1CDB3;
    color: #292929;
}
.ourfriends {
    height: 1462px;
    background: #F6F6F6;
    width: 1280px;
    margin: auto;
    display: flex;
}
.our_friends_block {
    display: flex;
    width: 1200px;
    height: 1462px;
    flex-direction: column;
}
.slider_cards_768 {
    display: none;
}
.slider_cards {
    display: flex;
    width: 1200px;
    flex-direction: row;
    height: 930px;
    justify-content: space-around;
}
.our_heding_header {
    width: 400px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 200px 0 25px 400px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    background: #FAFAFA;
}
.text_card {
    /* pets-card-title */
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
    margin: 30px 0;
}
.button_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px 0px 45px;

    width: 187px;
    height: 52px;

    /* color-primary */

    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 0px 0px;


    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */

    letter-spacing: 0.06em;

    /* color-dark-3xl */

    color: #292929;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 10px;
}
.card:hover {
    background: #FFFFFF;
}
.position_button {
    flex-direction: column;
    align-items: stretch;
    margin-top: 45px;
    margin-bottom: 100px;
    margin-left: 430px;
}
.button_paginator_inactive {
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background: #F6F6F6;
    margin-right: 18px;
}
.button_paginator {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background: #F6F6F6;
    margin-right: 18px;
}
.active {
    background: #F1CDB3;
    color: black;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
}
.button_paginator:hover {
    background:#FDDCC4;
}
.footer_768{
    display: none;
}
.footer_img {
    display: none;
}
.footer_rows {
    display: none;
}
.footer {
    width: 1280px;
    height: 350px;
    margin: auto;

    background: url(../../assets/fonts/footer-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 310px;
    margin: 40px 0 0 0;
}
.contacts {
    margin-bottom: 70px;
}
.location {
    margin-bottom: 70px;
}
.item_row {
    display: flex;
    align-items: center;
}
.h3_footer {
    width: 275px;
    /* h3 */
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.05em;
    /* color-light-xl */
    color: #FFFFFF;
    margin: 40px 0 30px 0;
}
.h4_footer {
    width: 260px;
    height: 23px;
    left: calc(50% - 191px/2 - 444.5px);
    top: 151px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.05em;
    /* color-primary */
    color: #F1CDB3;
    margin-left: 20px;
}
.a {
    text-decoration: none;
}
.m {
    display: none;
}
.slider320 {
    display: none;
}
@media only screen and (max-width: 1279px) {
    .header {
        width: 768px;
        height: 120px;
        left: 0;
        right: 0;
        transform: none;
    }
    .ourfriends {
        height: 1853px;
        width: 768px;
    }
    .our_friends_block {
        width: 768px;
    }
    .logo {
        margin-left: 30px;
    }
    .menu {
        margin-right: 30px;
    }
    .our_heding_header {
        margin: 0 0 0 184px;
    }
    .slider_cards_768 {
        width: 580px;
        height: 1365px;
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 auto;
    }
    .slider_cards {
        display: none;
    }
    .card {
        margin-right: 40px;
        margin-left: auto;
    }
    .position_button {
        width: 343px;
        height: 52px;
        margin: 70px auto;
    }
    .button_paginator {
        margin-right: 12.5px;
    }
    .button_paginator_inactive {
        margin-right: 12.5px;
    }
    .footer {
        height: 639px;
        width: 768px;
        background: url(../../assets/fonts/footer-gradient-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    }
    .footer_block {
        display: none;
    }
    .footer_rows {
        display: grid;
        grid-template-rows: auto auto;
        width: 768px;
    }
    .footer_768 {
        width: 708px;
        height: 234px;
        display: grid;
        grid-template-columns: auto auto;
        margin-right: 64px;
    }
    .footer_img {
        display: grid;
        grid-template-columns: auto;
        margin-top: 95px;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts {
        width: 278px;
        height: 234px;
    }
    .h3_footer {
        margin-bottom: 10px;
    }
    .contacts {
        margin-left: 60px;
    }
    .m {
        display: none;
    }
    .slider320 {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .header {
        width: 320px;
        height: 120px;
        left: 0;
        right: 0;
        transform: none;
    }
    .menu {
        display: none;
    }
    .dropdown {
        position: relative;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover {
        background-color: #ddd;
    }
    .dropdown-content {
        display: none;
        position: inherit;
        background-color: #FFFFFF;
        width: 100px;
        overflow: auto;
        z-index: 1;
    }
    .show {
        display: block;
    }
    .container {
      display: inline-block;
      cursor: pointer;
      margin-right: 50px;
      margin-top: 45px;
    }
    .bar1, .bar2, .bar3 {
      width: 30px;
      border: 1px solid #000000;
      margin: 6px 0;
      transition: 0.4s;
    }
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-5px, -8px);
    }
    .logo {
        margin-left: 10px;
    }
    .ourfriends {
        width: 320px;
        height: 1769px;
    }
    .our_friends_block {
        width: 320px;
    }
    .our_heding_header {
        width: 290px;
        height: 64px;
        font-size: 25px;
        margin: auto auto 42px auto;
    }
    .slider_cards_768 {
        display: none;
    }
    .slider_cards {
        display: none;
    }
    .slider320 {
        display: block;
    }
    .card {
        margin: auto auto 30px auto;
    }
    .position_button {
        width: 300px;
        margin-top: 12px;
    }
    .button_paginator_inactive {
        margin-right: 4px;
    }
    .button_paginator {
        margin-right: 4px;
    }
    .footer {
        height: 809px;
        width: 320px;
        background: url(../../assets/fonts/footer-gradient-background320.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    }
    .footer_block {
        display: grid;
        grid-template-rows: auto auto auto;
    }
    .contacts {
        width: 278px;
        height: 208px;
        margin: 0 0 0 30px;
    }
    .location {
        width: 300px;
        height: 222px;
        margin: 20px 0 50px 10px;
    }
    #dog_footer {
        width: 260px;
        height: 269px;
        margin: auto;
    }
    .h3_footer {
        width: 278px;
        height: 64px;
        left: calc(50% - 278px/2);
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin-top: 0;
    }
    .item_row {
        display: flex;
        align-items: center;
    }
    #footer_text {
        width: 250px;
        height: 64px;
    }
    .footer_img {
        display: none;
    }
    .footer_rows {
        display: none;
    }

}
