:root {
  --color-board: #416bf7;
  --color-black: #000000;
  --color-grid-button: #cfe7f8;
  --color-nav-button:  #D4EE9F;
  --color-hover-button:#a0d3f7;
  --color-message: #AA3939;
  --color-box-shadow: rgba(0, 0, 0, 0.5);
  --color-button-sound: #58afee;
}

body {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

.game {
  box-shadow: 0 1px 4px var(--color-box-shadow);
  padding: 15px;
  background-color: var(--color-board);
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  border: 1px solid var(--color-black);
}

.grid button {
  background-color: var(--color-grid-button);
  color: var(--color-black);
  font-size: 30px;
  font-weight: bold;
  border: 1px solid var(--color-black);
  outline: none;
  cursor: pointer;
}

.nav {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.nav button {
  border: none;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 1px 4px var(--color-box-shadow);
  padding: 5px;
  width: 90px;
  background-color: var(--color-nav-button);
  color: var(--color-black);
  outline: none;
  cursor: pointer;
  margin: auto;
}

.nav button:hover {
  color: var(--color-black);
  background-color: var(--color-hover-button);
}

.nav span {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: var(--color-nav-button);;
  font-weight: bold;
  margin: auto 0;
  color: var(--color-black);
}

button:hover {
  background-color: var(--color-hover-button);
  border-radius: 5px;

}

.message {
  color: var(--color-message);
  font-size: 25px;
}

.time {
  order: -1;
  font-size: 24px;
  font-weight: bold;
  color:var(--color-black);
  margin: 0;
  padding: 0;
}

.move {
  order: -1;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-black);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 550px) {

  .grid {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
  }

  .grid button {
    font-size: 26px;
  }

  .nav button {
    font-size: 17px;
    width: 60px;
  }
  .time {
    font-size: 20px;
  }

  .move {
    font-size: 20px;
  }

  .message {
    font-size: 20px;
  }

}

@media only screen and (max-width: 450px) {
  .message {
    font-size: 14px;
  }
}